version: '3'

services:

  rabbit-broker:
    image: rabbitmq:3-management
    environment:
      - RABBITMQ_DEFAULT_USER=dripline
      - RABBITMQ_DEFAULT_PASS=dripline

  key-value-store:
    image: driplineorg/dripline-python:v4.4.2-amd64
    depends_on:
      - rabbit-broker
    volumes:
      - ./authentications.json:/root/authentications.json
      - ./key-value-store.yaml:/root/key-value-store.yaml
    command:
      - dl-serve
      - -c
      - /root/key-value-store.yaml

  drip-mon:
    image: driplineorg/dripline-python:v4.4.2-amd64
    depends_on:
      - rabbit-broker
    volumes:
      - ./authentications.json:/root/authentications.json
    command:
      - dl-mon
      - --auth-file
      - /root/authentications.json
      - -b
      - rabbit-broker
      - -a
      - \#

  postgres:
    image: postgres:9.6
    volumes:
      - ./postgres_init.d:/docker-entrypoint-initdb.d
    environment:
      # per the docs, you do *not* want to run with this configuration in production
      - POSTGRES_HOST_AUTH_METHOD=trust
  grafana:
    image: grafana/grafana:6.6.2
    ports:
      - "3000:3000"
    volumes:
      - ./grafana.d:/etc/grafana

  sensor-logger:
    image: driplineorg/dripline-python:v4.4.2-amd64
    depends_on:
      - rabbit-broker
      - postgres
    volumes:
      - ./authentications.json:/root/authentications.json
      - ./sensor-logger.yaml:/root/sensor-logger.yaml
    command:
      - dl-serve
      - -c
      - /root/sensor-logger.yaml
